<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.tud.ess"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-permission android:name="android.permission.CAMERA" />

	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT"/>
	
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="16" />

				<!--
	<application
		android:allowBackup="true"
		android:label="@string/app_name" >
		<activity
			android:name="de.tud.ess.CameraStart"
			android:enabled="true"
			android:label="@string/app_name" >
 
			<intent-filter>
				<action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
			</intent-filter>

			<meta-data
				android:name="com.google.android.glass.VoiceTrigger"
				android:resource="@xml/startvoicecmd" />
			
		</activity>

		<service
			android:name="de.tud.ess.CameraService"
			android:enabled="true"
			android:exported="true"
			android:label="@string/app_name" >
		</service>
	</application>
	-->
	<application
		android:allowBackup="true"
		android:theme="@style/Theme.Transparent"
		android:label="@string/app_name" >
		<service
			android:name="de.tud.ess.GlassCameraService"
			android:enabled="true"
			android:exported="true"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
			</intent-filter>

			<meta-data
				android:name="com.google.android.glass.VoiceTrigger"
				android:resource="@xml/startvoicecmd" />
		</service>
		
		<activity 
			android:name="de.tud.ess.CameraStart"
			android:stateNotNeeded="true">
		</activity>
		
		<activity 
			android:name="de.tud.ess.VoiceMenuActivity"
			android:stateNotNeeded="true">
		</activity>
		
		<service 
			android:name="de.tud.ess.CameraService"
			android:enabled="true"
			android:exported="true">
		</service>
	</application>

</manifest>