<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.tud.ess.timeLapseRecorder"
  >

  <uses-permission
         android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-feature android:name="android.hardware.Camera" />

  <application
        android:allowBackup="true"
        android:label="@string/app_name" >

        <activity
            android:name=".ExampleTimeLapseActivity"
            android:label="@string/app_name"
            android:immersive="true"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/voicecmd" />
        </activity>

    </application>
</manifest>
