<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.tud.ess.glass_hello_world"
	android:versionCode="1"
	android:versionName="1.0" >
	
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="16" />

	<application
        android:allowBackup="true"
        android:label="@string/app_name" >
        
        <activity
            android:name="de.tud.ess.glass_hello_world.NodMenuActivity" />

        <service
            android:name="de.tud.ess.glass_hello_world.NodService"
            android:label="@string/app_name"
            android:icon="@drawable/ic_compass"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/nod_show" />
        </service>

    </application>
</manifest>
